/* Header Section */
header {
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0px 24px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
}

nav ul {
  display: flex;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 32px;
  align-items: center;
}

.logo span {
  text-transform: uppercase;
  font-weight: bold;
}

.title-2 {
  color: lightgray;
}

a {
  padding-right: 16px;
}

/* Main Container */
.main-container {
  padding-left: 24px;
  background-color: gray;
}

.image-content img {
  width: 60%;
  height: auto;
}

.image-content {
  border: 1px solid black;
}

.main-information {
  width: 40%;
  padding-left: 24px;
}


/* First Column */
.first-column {
  padding-top: 96px;
  display: flex;
  align-items: center;
}

.start-here {
  border: 1px solid white;
  padding: 8px 0px;
  text-align: center;
}
/* Second Column */
.second-column {
  display: flex;
}

.info {
  display: flex;
}

.info img {
  width: 35%;
  height: auto;
}

.narrative {
  width: 60%;
}


/* Third Column */
.content .third-column {
  padding-left: 72px;
  padding-right: 72px;
}
.title {
  padding: 32px 0px;
  text-align: center;
}

.main-courses {
  display: flex;
  border: 1px solid white;
  flex-wrap: wrap;
}


.courses img, h3, p {
  width: 40%;
  height: auto;
}

.courses {
  border: 1px solid black;
  background-color: white;
}

/* Fourth Column */
.fourth-column {
  display: flex;
}

.video-content {
  border: 1px solid black;
}
/* Footer Section */
footer {
  border-top: 1px solid black;
  padding-top: 18px;
  padding-left: 24px;
}

.copyright {
  display: flex;
  flex-grow: 1;
}

/* needs to put mobile version */
