body {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

/* Header Section */
header {
  display: flex;
  position: fixed;
  height: 4.25rem;
  align-items: center;
  padding-left: 1.5rem;
  width: 100%;
  background-color: white;
}

header nav {
  padding-right: 1.5rem;
}

nav ul {
  display: flex;
}

.main-banner {
  width: 58.5%;
  height: auto;
}

.main-banner img {
  width: 100%;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 2rem;
  align-items: center;
}

.logo span {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
}

.title-1 {
  color: #696969;
}

header a {
  padding-right: 0.875rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  nav ul {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
  }
}

/* Content Container */
.content {
  padding-left: 1.5rem;
  background-color: #D3D3D3;
}

.image-content {
  width: 60%;
  height: auto;
}

.image-content img, h1, p {
  width: 100%;
  color: #505050;
}

.main-information h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

p.main-info {
  font-size: 1.19rem;
  font-weight: bold;
}

/* First Column */
.first-column .main-information {
  width: 25%;
  padding-left: 2.5rem;
  color: #505050;
}

.first-column {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.start-here {
  text-align: center;
  padding: 0.75rem 0rem;
  margin: 2rem 0rem;
  background-color: #696969;
}

.start-here a {
  color: white;
  font-size: 1.25rem;
}

/* Second Column */
.second-column .main-information {
  width: 40%;
  padding-left: 2rem;
}

.second-column {
  display: flex;
  padding-top: 2rem;
}

.second-column h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

.website {
  padding: 2rem 0rem;
}

.description a {
  color: blue;
}

.description h2 {
  padding-bottom: 0.5rem;
  color: #505050;
  font-size: 1.25rem;
  font-weight: bold;
}

.description p {
  padding-bottom: 0.5rem;
}


/* Third Column */
.third-column {
  padding: 0rem 4.5rem;
}

.title {
  padding: 2rem 0rem;
  color: #696969;
  text-align: center;
}

.title p {
  font-size: 1.56rem;
  font-weight: bold;
}

.main-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses img, h3, p {
  width: 100%;
  height: auto;
}

.courses {
  width: 30%;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.course {
  background-color: white;
}

.course-name h3 {
  color: #505050;
  font-weight: bold;
  font-size: 1.25rem;
}


.course-name {
  padding: 1rem 1.5rem 1.5rem 1rem;
}

.course-type {
  padding: 0.56rem 0rem;
}

/* Fourth Column */
.fourth-column .main-information {
  width: 40%;
  padding-left: 2rem;
}

.fourth-column {
  display: flex;
}

.campus-info {
  display: flex;
  align-items: center;
}

.fourth-column h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

.campus1, .campus2 {
  background-color: #C0C0C0;
  border-bottom: 1px solid #505050;
}

.info {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.info img {
  width: 100%;
}

.video-content {
  width: 60%;
  padding-bottom: 2rem;
}

.video-content video, h1, p {
  width: 100%;
}

/* Footer Section */
footer {
  display: flex;
  height: 4rem;
  border-top: 1px solid #505050;
  background-color: #D3D3D3;
  color: #505050;
  padding-top: 1.25rem;
  padding-left: 1.5rem;
}

footer span {
  padding-right: 1rem;
}

.copyright {
  display: flex;
  flex-grow: 1;
}
