body {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

/* Header Section */

header {
  display: flex;
  position: fixed;
  height: 4.25rem;
  align-items: center;
  padding-left: 1.5rem;
  width: 100%;
  background-color: #49c5b6;
}

header nav {
  padding-right: 1.5rem;

}

nav ul {
  display: flex;
}

.main-banner {
  width: 58.5%;
  height: auto;
}

.main-banner img {
  width: 100%;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 2rem;
  align-items: center;
}

.logo img {
  padding-right: 0.5rem;
}

.logo span {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.title-1 {
  color: #f0fff0;
}

.title-2 {
  color: #505050;
}

header a {
  padding-right: 0.875rem;
  color: #ffffff;
  font-weight: bold;
}

header a:hover {
  color: #696969;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  nav ul {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile img {
    padding-right: 2.9rem;
  }

}

/* Content Container */

.content {
  padding-left: 1.5rem;
  background-color: #f4f7f6;
}

.image-content {
  width: 60%;
  height: auto;
}

.image-content img, h1, p {
  width: 100%;
  color: #505050;
}

.main-information h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

p.main-info {
  font-size: 1.19rem;
  font-weight: bold;
}

/* First Column */

.first-column .main-information {
  width: 25%;
  padding-left: 2.5rem;
  color: #505050;
}

.first-column {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.button {
  text-align: center;
  padding: 0.75rem 0rem;
  margin: 2rem 0rem;
  background-color: #49c5b6;
  border-radius: 1rem;
}

.button a {
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
}

.button a:active {
  color: #696969;
}

@media only screen and (max-width: 768px) {
  .first-column {
    display: flex;
    flex-direction: column;
  }

  .first-column .main-information {
    width: 100%;
    padding: 0rem;
    text-align: center;
  }

  .main-information p {
    display: block;
  }

  .main-banner {
    width: 100%;
  }

}

/* Second Column */

.second-column .main-information {
  width: 40%;
  padding-left: 2rem;
}

.second-column {
  display: flex;
  padding-top: 2rem;
}

.second-column h1 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 2rem 0rem;
  color: #505050;
}

.website {
  padding: 2rem 0rem;
}

.description a {
  color: #696969;
  font-weight: bold;
}

.description a:hover {
  color: #49c5b6;
}

.description h2 {
  padding-bottom: 0.5rem;
  color: #49c5b6;
  font-size: 1.25rem;
  font-weight: bold;
}

.description p {
  padding-bottom: 0.5rem;
}

.mobile-information {
  display: none;
}


@media only screen and (max-width: 768px) {
  .second-column {
    display: none;
  }

  .mobile-information {
    display: block;
    padding: 1.5rem 1.5rem;
    background-color: #f4f7f6;
  }

  .mobile-information img {
    width: 100%;
    height: auto;
  }

  .description p {
    display: block;
    padding-bottom: 1rem;
  }

  .description {
    text-align: center;
  }

}


/* Third Column */

.third-column {
  padding: 0rem 4.5rem;
}

.title {
  padding: 2rem 0rem;
  text-align: center;
}

.title p {
  font-size: 1.56rem;
  font-weight: bold;
  color: #505050;
}

.main-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses img, h3, p {
  width: 100%;
  height: auto;
}

.courses {
  width: 30%;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.course {
  background-color: white;
}

.course-name h3 {
  color: #49c5b6;
  font-weight: bold;
  font-size: 1.25rem;
}

.course-name {
  padding: 1rem 1.5rem 1.5rem 1rem;
}

.course-type {
  padding: 0.56rem 0rem;
}

.mobile-course {
  display: none;
}

@media only screen and (max-width: 768px) {
  .third-column .main-courses {
    display: none;
  }

  .mobile-course {
    display: block;
    background-color: #f4f7f6;
    width: 100%;
  }

  .mobile-course h3 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 1.2rem 0rem;
    margin-bottom: 0.9rem;
    background-color: #C8C8C8;
    color: #505050;
  }

  .mobile-course h3:hover {
    color: #49c5b6;
  }
}

/* Fourth Column */

.fourth-column .main-information {
  width: 40%;
  padding-left: 2rem;
}

.fourth-column {
  display: flex;
}

.campus-info {
  display: flex;
  align-items: center;
}

.fourth-column h1 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 2rem 0rem;
  color: #505050;
}

.info {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.info img {
  width: 100%;
}

.video-content {
  width: 60%;
  padding-bottom: 2rem;
}

.video-content video, h1, p {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .fourth-column .main-information {
    display: none;
  }

  .title p {
    display: block;
    text-align: center;
  }

  .video-content h1, p {
    display: none;
  }

  .video-content {
    width: 100%;
  }

  .content {
    padding: 0;
  }
}

/* Footer Section */

footer {
  display: flex;
  height: 4rem;
  border-top: 1px solid #505050;
  background-color: #ffffff;
  color: #505050;
  padding-top: 1.25rem;
  padding-left: 1.5rem;
}

footer a {
  padding-right: 1rem;
  color: #505050;
}

footer a:hover {
  color: #49c5b6
}

.copyright {
  display: flex;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .copyright {
    padding: 1rem;
    text-align: center;
  }

  nav span {
    display: none;
  }

  footer {
    border-top: none;
  }
}
